






/*body{*/
/*background:pink;*/
/*}*/

.shadow-inside{
    box-shadow: 2px 2px 5px #afafaf inset;
}


.tab{
    width: 120px;
    height: 2rem;
    background: #184d85;
    margin: 80px auto;
    border-radius: 20px;
    position: relative;
    border:1px solid #FFFFFF;
    margin-top: -5rem;
}
.tab1 {
    position: absolute;
    background: url("../img/hdjt.png");
}

/*.tab2{*/
    /*position: absolute;*/
     /*background: url("../img/hdjt.png");*/
/*}*/


.grad1{
    /*width: 4.6rem;*/
    /*height: 4.6rem;*/
    /*border: 1px rgba(255,255,255,1) solid;*/
    /*border-radius: 100%;*/
    /*font-size: 1.5rem;*/
    /*text-align: center;*/
    /*line-height: 4.6rem;*/
    /*color: #fff;*/
    /*letter-spacing: .2rem;*/
    background:url("img/qran.png");
}

.hb {
    position: absolute;
    bottom: 5.2rem;
    left: 50%;
    margin-left: -2.3rem;
    padding-top: -4rem;
}

.jbwz{
    position: absolute;
    margin-top: -3rem;
    margin-left: 8rem;
}

.hdkscs{
    width: 4.5rem;
    height: 0.9rem;
    font-size: 0.7rem;
    margin-left: 4rem;
    margin-top: 0.65rem;
    color:#FFFFFF;
    background-color: #184d85
}


.beitp{
    background: url("../img/yjbj1.png")no-repeat;
    background-size:100% 100%;
    margin-top: -4rem;
}